footer.footer
  aside.footer__left
    a(href="#").footer__logoover
      img(src="img/logo.png").footer__logo
    p.footer__copy © «Евраз-Трейд», 2018
  a(href="https://www.dextra.ru/", target="_blank").footer__dextra
    span dextra
    | Разработка<br>сайта