header.header
  button(type="button", data-fancybox, data-src="#feedback").btn.btn_dark.header__feedback Обратный звонок
  .header__info
    a(href="tel:+73512430425").header__info-phone +7 (351) 243-04-25
    p.header__info-days Понедельник – пятница<br>с 09:00 до 17:00
  nav.header__menu
    ul.header__menu-list
      li.header__menu-item
        a(href="#").header__menu-href.active О продукции
      li.header__menu-item
        a(href="#").header__menu-href Каталог
      li.header__menu-item
        a(href="#").header__menu-href О компании
      li.header__menu-item
        a(href="#").header__menu-href Контакты
  a(href="#").header__logo
    img(src="img/logo.png", alt="").header__logo-img
  span.header__logo-hint Прямые поставки грейферов ROZZI по России и странам СНГ
  
    //button(type="button", aria-label="открыть мобильное меню").burger__button.js-burger
      span.burger__button-meat
//section.burger__popup
  img(src="img/burger-bg.jpg").burger__bg
  .burger__menu-inner
    .burger__menu-col
      nav.burger__menu
        ul.burger__menu-list
          li.burger__menu-item.burger__menu-item_mobile
            a(href="#").burger__menu-logo
              img(src="img/logo.png", alt="")
          li.burger__menu-item
            a(href="#").burger__menu-href.active Компания
          li.burger__menu-item
            a(href="#").burger__menu-href Продукция
          li.burger__menu-item
            a(href="#").burger__menu-href Карьера
          li.burger__menu-item
            a(href="#").burger__menu-href Новости
          li.burger__menu-item
            a(href="#").burger__menu-href Контакты
    .burger__menu-col
      .burger__phones
        a(href="tel:+74991234004").burger__phones-elem (499) 123-40-01
        a(href="tel:+74956492000").burger__phones-elem (495) 649-20-00
      .burger__socials Так же вся новая и актуальная информация публикуется в наш паблик в 
        a(href="#", target="_blank", data-type="fb").burger__socials-elem Facebook 
        | и ленту 
        a(href="#", target="_blank", data-type="inst").burger__socials-elem Instagram
        | . Подписывайтесь.