.footer
  mt 49px
  mb 52px
  padding 0 65px
  display flex
  justify-content space-between
  align-items center
  @media $desktopMin
    padding 0 35px
  &__left
    display flex
    align-items center
  &__logoover
    ib()
    mr 31px
  &__logo
    filter invert(100%)
    @media $PortraitMin
      w 55px
  &__copy
    ib()
    fontify 15px 600 21px
    @media $PortraitMax
      dn()
  &__dextra
    color black
    font-family Verdana, Geneva, sans-serif
    fontify 9px 400 14px
    text-transform uppercase
    letter-spacing .18em
    pos relative
    span
      db()
      pos absolute
      t 2px
      r calc(100% + 9px)
      size 71px 21px
      background-image url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAAJCAMAAABZlb9eAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAAD///////////////////////////////////////////////////////////////+3leKCAAAAEHRSTlMAgL9QEN9AMGCf7yCPz69wvspXdQAAAAFiS0dEAf8CLd4AAAAJcEhZcwAACxIAAAsSAdLdfvwAAADYSURBVCjPZVFXlsQwCMPYuJCm+592Kdm8yYw+YsVGIIAKDFzJEBQgaoLun0HEeddvJpMCgpkKLkuDOzUY6xD7czbLgpSyuXiVXT0NUQWOFBcP1n+a2LHy2d84TnbdHbLA2B7F4Razcvgxz37zLW5nVG44KvZHfKeN/iP0hLRvseNyOu1QecTiLj5sV2ikfomvXlU3yvbl6eKCvHpuqkNyNu+ed9heNgizJXCFsEAHJTWE6WLF0/jvwErsRrTR9HhfBSV18eDTJ84xu8Hpf2cr0NmaXuxZL+5/APkKRRf72YAAAAAASUVORK5CYII=")
      background-repeat no-repeat
      background-position center
      bgc $dark
      transition .7s background
    &:hover span
      bgc $orange
      
      
.popup
  w calc(100% - 200px)
  bgc $grey
  padding 58px 147px 59px 63px
  @media $desktopMin
    padding 41px 147px 41px 47px
  @media $LandscapeMax
    w calc(100% - 70px)
  @media $LandscapeMin
    padding 41px 47px
  @media $PortraitMedium
    w 100%
    padding 35px
  &__title
    color black
    font-family $officina
    fontify 48px 400 52px
    @media $LandscapeMax
      fontify 32px 400 42px
  &__subtitle
    color black
    mt 32px
    max-width 630px
    fontify 15px 400 21px
    @media $LandscapeMax
      fontify 14px 400 21px
  &__form
    @media $lDesktopSmall
      & > .common__row_flex
        flex-direction column
      & > .common__row_flex > .common__col
        w 100%
        & + .common__col
          mt 27px
    &_top
      mt 40px
    .common__label
      opacity .5
    .common__label,
    .help__hint,
    .common__filename,
    .fakecheckbox__label,
    .fakecheckbox__label a:not([class])
      color black
    .fakecheckbox__label a:not([class])
      border-bottom 2px solid $orange
      transition .7s border
      &:hover
        border-color transparent
    .common__filename:before
      filter invert(100%)
    .fakecheckbox__label:before
      border-color black
  &_item
    padding 0
    bgc transparent
  &__scrollable
    height 70vh
    overflow auto

.card
  &__over
    display flex
    pr 20px
    @media $desktopMedium
      flex-direction column
    @media $PortraitMedium
      padding 0 35px
  &__imgover
    w 368px
    mr 59px
    @media $lDesktopSmall
      w 270px
      mr 40px
    @media $desktopMedium
      w 100%
      mr 0
      mb 40px
  &__img
    w 100%
    @media $desktopMedium
      max-width 100%
      w auto
  &__info
    flex-grow 1
    mt -8px
    max-width 698px
    w calc(100% - 427px)
    @media $lDesktopSmall
      w calc(100% - 310px)
    @media $desktopMedium
      w 100%
  &__title
    font-family $officina
    fontify 48px 400 52px
    mb 32px
    @media $LandscapeMax
      fontify 32px 400 42px
  &__download
    mt 22px
    pos relative
    z-index 1
    pl 65px
    pb 7px
    h 170px
    w 535px
    display flex
    flex-direction column
    justify-content center
    align-items flex-start
    @media $LandscapeMedium
      pl 30px
      w 100%
      mr 0
      h auto
      padding 35px
    @media $PortraitMax
      db()
    &:before
      content ""
      pos absolute
      z-index -1
      l 0
      t 0
      h 100%
      w 100%
      bgc $grey
    &-type
      color $orange
      fontify 12px 600 21px
    &-href
      color black
      fontify 15px 600 21px
      border-bottom 2px solid $orange
      transition .7s border
      &:hover
        border-color transparent
  &__btn
    pos absolute
    t 50%
    r -35px
    mt -58px
    @media $LandscapeMedium
      pos static
      mt 20px
      db()
  &__examples
    mt 46px
    display flex
    flex-wrap wrap
    justify-content space-between
    mb -34px
  &__example
    w calc(50% - 16px)
    mb 34px
    @media $LandscapeMin
      w 100%
    &-img
      w 100%
    &-name
      fontify 15px 400 21px
      mt 10px
      @media $LandscapeMax
        fontify 14px 400 21px
  &__imgs
    pos relative
    mt 69px
    .swiper-buttons
      pos absolute
      r 0
      t 3px
      @media $PortraitMax
        r auto
        l 50%
        t 0
        pos relative
        mt 30px
        w 102px
        ml -51px
        mb 40px
  &__car
    &.swiper-container
      mt 30px
    &-img
      w 100%