.banner
  pos relative
  .swiper-buttons
    pos absolute
    z-index 1
    r 228px
    t 65px
  .swiper-slide
    overflow hidden
    h 560px
    &-active
      & ^[0]__img
        transform scale(1.02)
  &__img
    pos absolute
    l 0
    t 0
    will-change transform
    transition 4s transform
    transform scale(1)
  &__content
    pos absolute
    z-index 1
    t 0
    r 0
    h 100%
    bgc $grey
    w 393px
    padding 134px 64px 0
  &__title
    font-family $officina
    fontify 48px 400 52px
    mb 33px
  &__text
    fontify 15px 400 21px
  &__btn
    pos absolute
    r 213px
    b -38px
    z-index 1

.special
  mt 231px
  padding 0 35px
  &__count
    float right
    font-family $officina
    fontify 24px 400 28px
    max-width 250px
    text-align right
    mt 5px
  &__title
    font-family $officina
    fontify 48px 400 52px
    max-width 500px
    mb 32px
  &__subtitle
    fontify 15px 400 21px
    max-width 470px
  &__bottom
    mt 75px
    h 140px
    pos relative
    display flex
    z-index 1
    &:before
      content ""
      bgc $orange
      pos absolute
      z-index -1
      l 0
      t 0
      h 100%
      w calc(100% + 100px)
  &__links
    display flex
    h 100%
    align-items center
    pl 40px
  &__link
    max-width 170px
    pb 7px
    &:first-child
      max-width 120px
    & + &
      ml 34px
    &-type
      color white
      fontify 12px 400 21px
      mb -3px
    &-href
      color white
      fontify 15px 600 25px
      border-bottom 2px solid white
      transition .5s border
      &:hover
        border-color transparent
  &__car
    size 570px 570px
    t 50%
    &.swiper-container
      mt -353px
      ml 94px
      overflow visible
    .swiper-buttons
      pos absolute
      r -140px
      t 340px
  &__hint
    pos absolute
    bgc $dark
    size 25px
    color white
    cursor pointer
    text-align center
    fontify 23px 200 24px
    &:before
      content attr(data-text)
      pos absolute
      b 25px
      w 250px
      text-align left
      padding 25px 29px
      bgc white
      box-shadow 2.5px 4.3px 35px rgba(0, 0, 0, 0.25)
      color black
      fontify 15px 400 21px
      box-sizing border-box
      left 50%
      ml -125px
      opacity 0
      visibility hidden
      transition .7s opacity, .7s visibility, .7s bottom
    &:hover:before
      visibility visible
      b 35px
      opacity 1
      
.features
  display flex
  mt 402px
  padding 0 35px
  pos relative
  z-index 1
  &:before
    content ""
    pos absolute
    z-index -1
    w calc(100% - 150px)
    h 375px
    l 75px
    t 143px
    bgc $grey
  &__content
    w 500px
  &__title
    font-family $officina
    fontify 48px 400 52px
    mb 85px
  &__list
    display flex
    flex-wrap wrap
    ml 26px
  &__item
    pl 30px
    fontify 15px 600 21px
    pos relative
    max-width 140px
    mb 38px
    & + &
      ml 112px
    &:nth-child(2n - 3)
      ml 0
    &:before
      content attr(data-number) ". "
      pos absolute
      l 0
      t 0
      fontify 15px 600 21px
    &:after
      content ""
      pos absolute
      l -25px
      t 5px
      w 1px
      h 30px
      bgc #e1e1e1
  &__imgs
    pos relative
    z-index 1
    w calc(100% - 500px)
    h 629px
    display flex
    align-content flex-end
    align-items flex-end
  &__img
    &_img1
      background url('/img/feat2.png') no-repeat top left
      size 0 422px
      transition .7s width
      &.visible
        w 280px
    &_img2
      background url('/img/feat1.png') no-repeat top left
      size 0 730px
      pos absolute
      z-index -1
      l 213px
      t -160px
      transition .7s width
      &.visible
        w 600px

.video
  mt 200px
  ml -65px
  w calc(100% + 130px)
  h 100vh
  max-height 700px
  pos relative
  z-index 1
  background-size cover
  &__play
    pos absolute
    z-index 1
    l 50%
    t 50%
    size 60px
    mt -30px
    ml -30px
    border-radius 50%
    &:before
      content ""
      pos absolute
      size 10px 13px
      t 23px
      l 26px
      background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAANCAMAAACn6Q83AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEX///////////////////////////////////////////////////////////////////////////+0EB4eAAAAEnRSTlMAdgLAH/BbqBHjQ/6NCKX9B+J19h11AAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAD1JREFUCNdjEGJkYoACISFmFjhTiJUNzhQSYueAM4U4ueBMIW4eXhhTSIgPxuTnEYAyBbkwTECYi7AN7gYAYAoE1tuqH1sAAAAASUVORK5CYII=") no-repeat center
    &:after
      content ""
      cursor pointer
      pos absolute
      z-index -1
      bgc $orange
      border-radius 50%
      size 100%
      l 50%
      t 50%
      transform translate(-50%, -50%)
      transition .7s background, .7s width, .7s height
    &:hover:after
      size 110%
      bgc $dark

.catalog
  mt 73px
  padding 0 35px
  &__smalltitle
    db()
    color $orange
    fontify 15px 600 21px
  &__title
    mt 16px
    max-width 710px
    color black
    font-family $officina
    fontify 48px 400 52px
  &__list
    display flex
    flex-wrap wrap
    mt 40px
    ml -100px
    w calc(100% + 200px)
  &__item
    h 350px
    w 25%
    color white
    fontify 15px 600 25px
    padding 57px 27px 0 117px
    border-bottom 1px solid #404040
    border-right 1px solid #404040
    &:nth-child(3),
    &:last-child
      border-right 0
    &_wide
      w 50%
      padding 57px 95px 0
      border-right 1px solid #404040
      border-bottom 1px solid #404040
