.icar
  h 100vh
  > .swiper-wrapper
    transition-timing-function cubic-bezier(0.86, 0, 0.07, 1)
  .swiper-slide
    &[data-color="dark"]
      bgc $dark
    &[data-color="light"]
      bgc white
    h 100%
    pos relative
    z-index 1
    overflow hidden
    display flex
    align-items center
    justify-content flex-start
    &-active
      & ^[0]
        &__bg
          transform translate(-50%, -50%) scale(1.08)
        &__area
          &-title
            opacity 1
            b 0
            transition-delay .8s
          &-text
            opacity 1
            b 0
            transition-delay .9s
          &-href
            opacity 1
            b 0
            transition-delay 1.2s
      .news__elem
        &-imgover
          w 100%
        &:nth-child(1) .news__elem-imgover
          transition-delay 1s
        &:nth-child(2) .news__elem-imgover
          transition-delay 1.2s
        &:nth-child(3) .news__elem-imgover
          transition-delay 1.4s
        &-content
          opacity 1
          b 0
          transition-delay .8s
      .iemp
        &__title
          opacity 1
          b 0
          transition-delay .8s
        &__subtitle
          opacity 1
          b 0
          transition-delay 1s
        &__text
          opacity 1
          b 0
          transition-delay 1.2s
        &__more
          opacity 1
          b 0
          transition-delay 1.4s
        &__content:before
          w 70px
          transition-delay 1.6s
        &__btn
          opacity 1
          b 0
          transition .7s opacity 1.8s, .7s bottom 1.8s, .7s background, .7s color, .7s box-shadow
      &:not(.showmap) .iroad
        &__title
          opacity 1
          b 0
          transition-delay .8s
        &__feat
          opacity 1
          b 0
          transition-delay 1s
        &__text
          opacity 1
          b 0
          transition-delay 1.2s
        &__where
          opacity 1
          b 0
          transition-delay 1.2s
        &__content:before
          w 70px
          transition-delay 1.4s
        &__btn
          opacity 1
          b 0
          transition .7s opacity 1.6s, .7s bottom 1.6s, .7s background, .7s color, .7s box-shadow
      .iveg
        &__title
          opacity 1
          b 0
          transition-delay .8s
        &__icon
          opacity 1
          t 0
          transition-delay .8s
        &__hrefover
          opacity 1
          b 0
          transition-delay 1s
        &__text
          opacity 1
          b 0
          transition-delay 1.2s
        &__content:before
          w 70px
          transition-delay 1.4s
        &__tocat
          opacity 1
          b 0
          transition .7s opacity 1.6s, .7s bottom 1.6s, .7s border
  &__bg
    opacity .5
    z-index -1
    imgCenteringMin()
    transition 7s transform
  &__area
    &-over
      &.changed
        & ^[-2]
          &-title:before,
          &-text:before
            content attr(data-change)
          &-back
            opacity 1
            visibility visible
          &-href
            visibility hidden
            opacity 0
          &_more
            max-height 400px
            mt 40px
            @media $lDesktopMax
              mt 0px
            @media $lDesktopMedium
              mt -65px
            @media $desktopMin
              mt -30px
              max-height 800px
          &-stage
            opacity 1
            r 0
            transition .7s opacity, .7s right
            &_second
              transition-delay .7s
              @media $desktopMedium
                ml 10px
              @media $desktopMin
                ml 0
            &_third
              transition-delay 1.4s
              @media $desktopMedium
                ml 10px
              @media $desktopMin
                ml 0
    &_more
      max-height 0
      overflow hidden
      transition 1s max-height
    &__maxwidth
      max-width 700px
    &-back
      cursor pointer
      pos absolute
      w 27px
      h 25px
      l 30px
      t 30px
      opacity 0
      visibility hidden
      background url('../i/arleft_white.png') no-repeat 0 -756px
      transition .5s visible, .5s opacity
      &:hover
        animation arrAnimation 1s steps(28)
    &-title
      color white
      fontify 120px 400 90px
      mb 40px
      ml -10px
      pos relative
      opacity 0
      b -20px
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        fontify 100px 400 90px
        mb 30px
      @media $desktopMin
        fontify 80px 400 84px
      @media $LandscapeMedium
        fontify 60px 400 64px
        ml 0
        mb 20px
      &:before
        content attr(data-default)
    &-text
      color white
      fontify 42px 400 46px
      pos relative
      b -20px
      opacity 0
      transition .7s opacity, .7s bottom
      @media $lDesktopMedium
        fontify 36px 400 40px
      @media $desktopMin
        fontify 30px 400 34px
        max-width 490px
      &:before
        content attr(data-default)
    &-href
      cursor pointer
      mt 40px
      ml 2px
      color white
      fontify 14px 700 16px
      text-transform uppercase
      letter-spacing .1em
      pos relative
      b -20px
      opacity 0
      transition .5s visible, .5s opacity, .7s opacity, .7s bottom
      @media $lDesktopMedium
        fontify 12px 700 16px
      @media $LandscapeMedium
        dn()
      &:after
        content ""
        pos absolute
        bgc alpha(white, .25)
        w 100%
        h 1px
        b 0
        l 50%
        transform translateX(-50%)
        transition .7s width
      &:hover:after
        w 0

    &-stages
      display flex
      justify-content space-between
      align-items flex-end
      @media $desktopMin
        flex-direction column
        align-items flex-start
    &-stage
      w 364px
      text-align center
      pos relative
      r -80px
      opacity 0
      transition 0s opacity, 0s right
      &_first
        w 265px
        display flex
        flex-wrap wrap
      &_second
        @media $desktopMin
          align-self flex-end
      @media $desktopMin
        & + &
          mt -100px
    &-col
      w calc(50% - 10px)
      display flex
      flex-direction column
      & + &
        ml 20px
    &-square
      color white
      fontify 42px 400 40px
      mb 10px
      @media $lDesktopMedium
        fontify 36px 400 40px
        mb 8px
      @media $desktopMin
        fontify 30px 400 34px
    &-img
      max-width 100%
    &-year
      w 100%
      color white
      fontify 16px 400 23px
      mt 20px
      @media $lDesktopMedium
        fontify 14px 400 21px
    &-queue
      w 100%
      color white
      fontify 16px 700 23px
      mt 8px
      @media $lDesktopMedium
        fontify 14px 400 21px


.ibanner
  h 100vh
  .swiper-slide
    min-width 100vw
    pos relative
    z-index 1
    overflow hidden
    display flex
    align-items center
    justify-content flex-start
    &-active
      & ^[0]
        &__bg
          transition 7s transform
          transform translate(-50%, -50%) scale(1.08)
        &__title
          opacity 1
          b 0
          transition-delay .8s
        &__text
          opacity 1
          b 0
          transition-delay .9s
        &__more
          opacity 1
          b 0
          transition-delay 1.2s
        &__content:before
          w 70px
          transition-delay 1.4s
  .swiper-buttons
    b 62px
    @media $LandscapeMedium
      b 29px
  &__bg
    opacity .5
    z-index -1
    imgCenteringMin()
  &__maxwidth
    max-width 700px
  &__title
    color white
    fontify 72px 400 76px
    pos relative
    opacity 0
    b -20px
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 60px 400 64px
    @media $desktopMin
      max-width 540px
    @media $LandscapeMedium
      fontify 36px 400 40px
  &__content
    mt 32px
    pl 106px
    pos relative
    @media $LandscapeMedium
      pl 0
    &:before
      content ""
      pos absolute
      l 6px
      t 11px
      w 0
      h 1px
      bgc white
      transition .7s width
      @media $LandscapeMedium
        dn()
  &__text
    color white
    fontify 16px 400 23px
    mb 30px
    max-width 515px
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 14px 400 21px
    @media $desktopMin
      max-width 315px
    @media $PortraitMin
      dn()
  &__more
    color white
    fontify 14px 700 16px
    text-transform uppercase
    letter-spacing .1em
    pos relative
    b -20px
    opacity 0
    transition .7s opacity, .7s bottom
    @media $lDesktopMedium
      fontify 12px 700 16px
    &:after
      content ""
      pos absolute
      bgc alpha(white, .25)
      w 100%
      h 1px
      b 0
      l 50%
      transform translateX(-50%)
      transition .7s width
    &:hover:after
      w 0